// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

pckg {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  font-family: monospace;
  background: #F1F1F1;
  //border: 1px solid #E1E1E1;
  font-weight: 900;
  border-radius: 4px;
  &:hover {
    color: white;
    background: $primary;
    font-weight: 900;
    }
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
