// Styling for the portfolio section
#insights {
  .portfolio-item {
    padding: 0px 40px 0px 40px;
    right: 0;
    margin: 0 0 15px;
    text-align: center;
    img {
      opacity: .9;
    }
    a.pckg{
      color:#6c757d;
      decoration: none;
      padding: .2rem .5rem;
      margin: 0 .2rem;
      font-size: 90%;
      white-space: nowrap;
      font-family: monospace;
      background: #F1F1F1;
      font-weight: 900;
      border-radius: 4px;
      &:hover {
        color: white;
        background: $primary;
        font-weight: 900;
        decoration: none;
        }
    }
    .portfolio-link {
      position: relative;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .portfolio-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: $white;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}


@media(min-width:767px) {
  #insights {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

.portfolio-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 3em;
      margin-bottom: 0px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 0px 0 40px;
      @include serif-font;
    }
    li {
      align: left;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      max-width: 300px;
      margin-bottom: 30px;
      opacity: .9;
    }
    a.pckg{
      color:#6c757d;
      decoration: none;
      padding: .2rem .5rem;
      margin: 0 .2rem;
      font-size: 90%;
      white-space: nowrap;
      font-family: monospace;
      background: #F1F1F1;
      font-weight: 900;
      border-radius: 4px;
      &:hover {
        color: white;
        background: $primary;
        font-weight: 900;
        decoration: none;
      }
    }
    p.head {
      text-align: left;
      font-weight:  900;
      padding-top:0px;
      margin-top:0px;
      padding-bottom:0px;
      margin-bottom:0px;
    }
    p.entry{
      text-align: left;
      padding-top:0px;
      margin-top:0px;
      padding-bottom:10px;
      margin-bottom:10px;
    }
    p.code{
      text-align: left;
      padding-top:0px;
      margin-top:0px;
      padding-bottom:10px;
      margin-bottom:10px;
      background-color: $gray-100;
      font-family: monospace;
      color: #6c757d;
      white-space: pre;
    }
    code-inline {
      font-family: monospace;
      color: #6c757d;
      background-color: $gray-100;
    }
    p.pckg{
      padding-top:0px;
      margin-top:0px;
      padding-bottom:0px;
      margin-bottom:0px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
