// Styling for the team section
#team{
  .team-member {

    margin-bottom: 50px;
    text-align: center;
    img {
      width: 225px;
      height: 225px;
      border: 7px solid fade-out($black, 0.9);
    }
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-top: 0;
    }

    .team-link {
      position: relative;
      display: block;
      width: 225px;
      height: 225px;
      margin: 0 auto;
      cursor: pointer;
      .team-hover {
        border: 7px solid fade-out($black, 0.98);
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .team-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
  }
  * {
    z-index: 2;
  }
}


@media(min-width:767px) {
  #team {
    .team-item {
      margin: 0 0 30px;
    }
  }
}

.team-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    ul.social-buttons li a{
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
    a.pckg{
      color:#6c757d;
      decoration: none;
      padding: .2rem .5rem;
      margin: 0 .2rem;
      font-size: 90%;
      white-space: nowrap;
      font-family: monospace;
      background: #F1F1F1;
      font-weight: 900;
      border-radius: 4px;
      &:hover {
        color: white;
        background: #fed136;
        font-weight: 900;
        decoration: none;      
        }
    }
    p.head {
      padding-top:10px;
      margin-top:10px;
      padding-bottom:0px;
      margin-bottom:0px;
    }
    p.entry{
      padding-top:0px;
      margin-top:0px;
      padding-bottom:10px;
      margin-bottom:10px;
    }
    p.pckg{
      padding-top:0px;
      margin-top:0px;
      padding-bottom:0px;
      margin-bottom:0px;
    }
    img {
      margin-bottom: 30px;
      width: 225px;
      height: 225px;
      border: 7px solid fade-out($black, 0.9);
      border-radius: 50%;
    }
    button {
      margin-top:30px;
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
